/* CSS  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

/* Styling the Body */
body {
  font-family: Arial, sans-serif; /* Set a default font */
  font-size: 16px; /* Set a default font size */
  line-height: 1.6; /* Set a default line height */
  background-color: #f4f4f4; /* Set a background color */
  color: #333; /* Set a default text color */

}
